.center {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #efeeee;
}

.actionButton {
    border: 1px solid #018de9;
    border-radius: 3px;
    width: 45%;
    height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    color: #018de9;
}

#save{
    background-color: #018de9;
    color: #fff;
    margin-left: 10%;
}

.inputPosition {
    height: 40px;
    width: 60px;
    border: 1px solid #dbdbdb;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.actionItems {
    display: flex;
    justify-content: center;
    width: 390px;
    margin: 0 auto;
}